*
    margin: 0
    padding: 0

html
    font-family: "Poppins", sans-serif

.home
    display: flex
    height: auto
    min-height: 100vh
    & #searchContainer
        width: auto
        max-width: 450px
        margin: auto
.Zapatos 
    display: flex
    height: auto
    min-height: 100vh
    & .v-speed-dial
        position: absolute
    & .v-btn--floating
        position: relative
    & #searchContainer
        width: 100%
        position: relative
        height: auto
        min-height: 300px
        display: flex
        align-items: center
        justify-content: center
