* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
}

.home {
  display: flex;
  height: auto;
  min-height: 100vh;
}
.home #searchContainer {
  width: auto;
  max-width: 450px;
  margin: auto;
}

.Zapatos {
  display: flex;
  height: auto;
  min-height: 100vh;
}
.Zapatos .v-speed-dial {
  position: absolute;
}
.Zapatos .v-btn--floating {
  position: relative;
}
.Zapatos #searchContainer {
  width: 100%;
  position: relative;
  height: auto;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=master.css.map */
