<template>
  <div class="home">
      <v-card id="searchContainer">
          <v-container>
                        
            <v-form>
                <v-container>
                    <v-row>
                        <v-alert outlined color="purple">
                            <p>{{welcomeMessage}}</p>
                        </v-alert>   
                    </v-row>
                    <v-row>
                        <v-col cols="12" md="12">
                            <v-text-field
                                v-model="form.user"                                        
                                label="User"
                                required
                            ></v-text-field>     
                        </v-col>
                        <v-col cols="12" md="12">
                            <v-text-field
                                type="password"
                                v-model="form.password"                                        
                                label="password"
                                required
                            ></v-text-field>     
                        </v-col>
                         <v-col cols="12" md="12">
                            <v-btn @click="sendForm">
                                <v-icon>mdi-login</v-icon>
                                log in
                            </v-btn>                 
                        </v-col>
                    </v-row>
                </v-container>
            </v-form>
            <div v-if="msgerror !== null">
                <v-alert dense outlined type="error" id="lblError">
                    {{msgerror}}
                </v-alert>
            </div>
          </v-container>
      </v-card>
  </div>
</template>

<script>

import axios from 'axios';
import router from '../router';

export default {
    name: 'Home',
    data: () => {
        return {
            form: {user:null, password:null},
            msgerror: null,
            location: null,
            message: localStorage.clear(),
            welcomeMessage: 'Bienvenido al gestor de inventarios, por favor ingrese sus credenciales para poder continuar.'
        };
    },
    props: {

    },
    methods: {
        sendForm() {

            this.msgerror = null;

            if (this.form.user === "" || this.form.password === "") {
                this.msgerror = "Por favor ingrese usuario y password.";
                return;
            }

            var strUrl = "http://inventariobackend-env.eba-nepvpe34.us-east-1.elasticbeanstalk.com/users/" + this.form.user;

            axios
                .get(strUrl)
                .then(response => { 
                    console.log(response);
                    if(response.data === ""){
                         this.msgerror = "Usuario o password incorrectos.";
                    }else if(this.form.password === response.data.password){
                        localStorage.token=response.data;
                        window.location.href=".#/zapatos";
                        router.go(1);
                    }else{
                        this.msgerror = "Usuario o password incorrectos.";
                    }
                    })
                .catch(e => {
                    console.log(e);
                    this.msgerror = "No se pudo validar las credenciales, por favor intente mas tarde.";
                })
        }
    },
    computed: {

    }, 
}
</script>
