<template>
    <div class='Zapatos'>
        <v-card id="searchContainer">
            <v-container>
                <v-form>
                    <v-container>
                        <v-row>
                            <v-col cols="12" md="4">
                                <!--:counter="10"-->
                                <v-text-field
                                    v-model="form.id"                                        
                                    label="Id"
                                    required
                                ></v-text-field>                                
                            </v-col>
                            <v-col cols="12" md="4">
                                <v-text-field
                                    v-model="form.marca"
                                    label="Marca"
                                    required
                                ></v-text-field>                                
                            </v-col>
                            <v-col cols="12" md="4">
                                <v-text-field
                                    v-model="form.modelo"
                                    label="Modelo"
                                    required
                                ></v-text-field>                                
                            </v-col>
                            <v-col cols="12" md="4">
                                <v-text-field
                                    v-model="form.talla"
                                    label="Talla"
                                    required
                                ></v-text-field>                                
                            </v-col>
                        </v-row>
                        <v-col cols="12" md="12">
                            <v-btn @click="Seach">
                                <v-icon>mdi-magnify</v-icon>
                                Buscar
                            </v-btn>                 
                        </v-col>
                    </v-container>
                </v-form>
                <div v-if="msgerror !== null">
                    <v-alert dense outlined type="error" id="lblError">
                        {{msgerror}}
                    </v-alert>
                </div>
            </v-container>
        </v-card>
        <v-speed-dial
            v-model="fab"
            :top="top"
            :bottom="bottom"
            :right="right"
            :left="left"
            :direction="direction"
            :open-on-hover="hover"
            :transition="transition"
            >
            <template v-slot:activator>
                <v-btn
                v-model="fab"
                color="blue darken-2"
                dark
                fab
                >
                <v-icon v-if="fab">mdi-close</v-icon>
                <v-icon v-else>mdi-plus</v-icon>
                </v-btn>
            </template>
            <v-btn
                fab
                dark
                small
                color="green"
                v-on:click="Save"
            >
                <v-icon>mdi-pencil</v-icon>
            </v-btn>
            <v-btn
                fab
                dark
                small
                color="indigo"
                v-on:click="Create"
            >
                <v-icon>mdi-plus</v-icon>
            </v-btn>
            <v-btn
                fab
                dark
                small
                color="red"
                v-on:click="Delete"
            >
                <v-icon>mdi-delete</v-icon>
            </v-btn>

            <v-data-table :items="Zapatos"
                          :headers="headers">
            </v-data-table>
        </v-speed-dial>
    </div>
</template>
<script>
    import axios from 'axios';
    import router from '../router';

export default {
    name: 'Zapatos',
    data: () => {
        return {
            msgerror: null,
            form: {id:"",  modelo:"", marca:"", talla:""},
            direction: 'top',
            fab: false,
            fling: false,
            hover: false,
            tabs: null,
            top: false,
            right: true,
            bottom: true,
            token: (localStorage.token == undefined || localStorage.token == null) ? router.back() : localStorage.token,
            left: false,
            transition: 'slide-y-reverse-transition',
        };
    },
    props: {

    },
    methods: {
        Save() {
            this.msgerror = null;

            if (this.form.modelo === "" || this.form.modelo === null ||
                this.form.marca === "" || this.form.marca === null ||
                this.form.id === "" || this.form.id === null ||
                this.form.talla === "" || this.form.talla === null) {
                this.msgerror = "Por favor ingrese todos los datos para continuar.";
                return;
            }

            let data = {
                id:this.form.id,
                brand:this.form.marca,
                model:this.form.modelo,
                size:this.form.talla
            };

            axios.post('http://inventariobackend-env.eba-nepvpe34.us-east-1.elasticbeanstalk.com/sneakers/',
               data, {
                }).then(res => {
                    console.log(res);
                    this.msgerror = "Zapato actualizado exitosamente";
                }).catch(err => {
                    console.log(err);
                    this.msgerror = "No se pudo actualizar el zapato";
                });

        },
        Create() {
            this.msgerror = null;

            if (this.form.modelo === "" || this.form.modelo === null ||
                this.form.marca === "" || this.form.marca === null ||
                this.form.id === "" || this.form.id === null ||
                this.form.talla === "" || this.form.talla === null) {
                this.msgerror = "Por favor ingrese todos los datos para continuar.";
                return;
            }

            let data = {
                id:this.form.id,
                brand:this.form.marca,
                model:this.form.modelo,
                size:this.form.talla
            };

            axios.post('http://inventariobackend-env.eba-nepvpe34.us-east-1.elasticbeanstalk.com/sneakers/',
               data, {
                }).then(res => {
                    console.log(res);
                    this.msgerror = "Zapato creado exitosamente";
                }).catch(err => {
                    console.log(err);
                    this.msgerror = "No se pudo crear el zapato";
                });
        },
        Seach() {
            this.msgerror = null;
            if (this.form.modelo == "" || this.form.modelo == null) {
                this.msgerror = "Por favor ingrese un modelo para poder buscar.";
                return;
            }

            var strUrl = "http://inventariobackend-env.eba-nepvpe34.us-east-1.elasticbeanstalk.com/sneakers/" + this.form.modelo;
            axios
                .get(strUrl)
                .then(response => { 
                    if (response.data == "") {
                        this.msgerror = "No se encontro un zapato con este modelo";
                        this.form.model = "";
                        this.form.id = "";
                        this.form.talla = "";
                        this.form.marca = "";
                    } else {
                        this.form.model = response.data.model;
                        this.form.id = response.data.id;
                        this.form.talla = response.data.size;
                        this.form.marca = response.data.brand;
                    }
                    })
                .catch(e => {
                    console.lo(e);
                    this.msgerror = "No se encontro un zapato con este modelo";
                    this.form.model = "";
                    this.form.id = "";
                    this.form.talla = "";
                    this.form.marca = "";
                })
        },
        Delete() {
            this.msgerror = null;

            if (this.form.modelo == "" || this.form.modelo == null) {
                this.msgerror = "Por favor ingrese un modelo para poder eliminar.";
                return;
            }

            var strUrl = "http://inventariobackend-env.eba-nepvpe34.us-east-1.elasticbeanstalk.com/sneakers/"+this.form.modelo;
            axios   
                .get(strUrl)
                .then(response => {
                    console.log(response);
                    this.msgerror = "zapato eliminado exitosamente";
                    this.form.model = "";
                    this.form.id = "";
                    this.form.talla = "";
                    this.form.marca = "";
                })
                .catch(e => {
                    console.lo(e);
                    this.msgerror = "No se pudo eliminar el zapato";
                })
        }
    },
    computed: {

        headers(){
            return[
                {text: 'Modelo', value 'Modelo' }
                {text: 'Id', value 'Id' }
                {text: 'Talla', value 'Talla' }
                {text: 'Marca', value 'Marca' }
            ]
        }
        activeFab() {
            switch (this.tabs) {
                case 'one': return { class: 'purple', icon: 'account_circle' }
                case 'two': return { class: 'red', icon: 'edit' }
                case 'three': return { class: 'green', icon: 'keyboard_arrow_up' }
                default: return {}
            }
        }
    }
}
</script>
